@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}

span {
    font-size: 2.5rem;
    color: #019343;
}

h6 {
    font-size: 1.1rem;
    color: rgba(24, 24, 49);
}

a {
    text-decoration: none;
}


/* Header */

/* .top-header {
    height: 50px;
    background: #019343;
} */

/* Navigation */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 8vw;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

nav img {
    height: 65px;
    width: 200px;
    cursor: pointer;
}

nav .navigation {
    display: flex;
}

nav .navigation #menu-btn {
    width: 30px;
    height: 30px;
    display: none;
}

nav .navigation #menu-close {

    display: none;

}


nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 50px;
}

nav .navigation ul li a {
    color: rgb(39, 34, 34);
    font-size: 16px;
    font-weight: 500;

}

nav .navigation ul li a.link-active {
    width: 100%;
    border-bottom: 3px solid #f6b905;
}

nav .navigation ul li a:not(.link-active)::after {
    content: '';
    width: 0%;
    height: 2.5px;
    background: #f6b905;
    display: block;
    margin: auto;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover::after {
    width: 100%;
}

/* Home */
#home {
    background: linear-gradient(rgb(35 35 35), rgba(5, 46, 4, 0.7)), url(./img/school.jpg) center/cover no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2 {
    color: #fff;
    font-size: 50px;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .btn {
    margin-top: 30px;
}

#home a {
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

#home a.green {
    color: white;
    background: #019343;
}

#home a.green:hover {
    color: #019343;
    background: #ffffff;
    transition: .7s ease;

}

#home a.yellow {
    color: white;
    background: #f6b905;
}

#home a.yellow:hover {
    color: #019343;
    background: #ffffff;
    transition: .7s ease;
}

/* ABOUT */



/* END */


#features {
    background: hsl(210, 36%, 96%);
    padding: 4vw 8vw 4vw 8vw;
    text-align: center;
}

#features .feature-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 1rem;
    margin: 50px;
}

#features .feature-box {
    background: white;
    text-align: center;
    margin: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#features .feature-box i {
    background: #019343;
    color: white;
    border: #f6b905;
    padding: 0.5rem;
    display: inline-block;
    font-size: 2.3rem;
    margin: 50px 20px 20px 20px;
}

#features .feature-box h3 {
    font-size: 20px;
    font-weight: 600;
    color: #019343;
    padding: 13px 0 7px 0;
}

#features .feature-box p {
    font-size: 16px;
    font-weight: 300;
    color: #777;
    line-height: 22px;
    margin: 20px 20px 50px 20px;
}

/* Course */

#course {
    padding: 5vw 8vw 5vw 8vw;
    text-align: center;
}

#course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 3rem;
    margin-top: 50px;
}

#course .courses {
    text-align: start;
    background: hsl(210, 36%, 96%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    position: relative;
    border-radius: 10px;
}

#course .course-box .courses:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: 1s;

}

#course .courses img {
    width: 100%;
    object-fit: cover;
    height: 15rem;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

#course .course-box .courses h4 {
    letter-spacing: 2.5px;
}


#course .course-box .courses p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

#course .courses .details {
    padding: 15px 15px 15px 15px;
}

#course .courses .details i {
    color: #f6b905;
}

#course .tour-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#course .tour-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#course .tour-footer a {
    color: #019343;
}

#course .courses .course-code {
    background: #f6b905;
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 170px;
}

/* Campus */

#campus {
    width: 100%;
    padding-top: 50px;
    background: #F1F5F8;
}

#campus h1,
p,
h3 {
    text-align: center;
}

#campus .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 2rem;
    margin-top: 20px;
    margin-left: 100px;
}

#campus .campus-col {
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

#campus .campus-col img {
    margin-top: 50px;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    display: block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#campus .layer {
    border-radius: 10px;
    background: transparent;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 51px;
    left: 0;
}

#campus .layer:hover {
    background: rgba(246, 185, 5, 0.7);
    transition: 0.8s;
}

#campus .layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

#campus .layer:hover h3 {
    bottom: 49%;
    opacity: 1;

}

/* Call to Action */

#cta {
    margin: 100px auto;
    width: 80%;
    background: linear-gradient(rgb(35, 35, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/banner2.jpg) center/cover no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#cta h1 {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

#cta a.contact-btn {
    display: inline-block;
    color: #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: #019343;
    position: relative;
    cursor: pointer;
}

#cta a.contact-btn:hover {
    background: #ffffff;
    color: #019343;
    transition: 1s;
}

#cta a.enroll-btn {
    display: inline-block;
    color: #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: #f6b905;
    position: relative;
    cursor: pointer;
}

#cta a.enroll-btn:hover {
    background: #ffffff;
    color: #019343;
    transition: 1s;
}

@media(max-width: 768px) {
    #cta h1 {
        font-size: 24px;
    }
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    background: #019343;
    text-align: center;
    padding: 20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-right: 50px;

}

.footer-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #fff;
    transition: all 0.3s linear;

}

.footer-icon:hover {
    color: #f6b905;
}

.copyright {
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 0.25rem;
    padding-top: 10px;
    padding-left: 50px;
    color: #fff;
}

@media(max-width: 768px) {
    nav {
        padding: 15px 20px;
    }

    nav img {
        height: 55px;
        width: 180px;
    }

    nav .navigation #menu-btn {

        display: initial;
    }

    nav .navigation #menu-close {

        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;
    }

    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(1, 147, 67, 0.70);
        backdrop-filter: blur(3.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: all 0.3s linear;
    }

    nav .navigation ul.active {
        right: 0;
    }

    nav .navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    /* nav .navigation ul li a.active {
        border-bottom: none;
    } */
    nav .navigation ul li a {
        color: #fff;
    }

    #home {
        padding-top: 0px;
    }

    #home h2 {
        font-size: 50px;
    }

    #home p {
        width: 80%;
    }

    #course .courses {
        margin: 40px;
    }

    #course .courses img {
        width: 100%;
        object-fit: cover;
        height: 15rem;
        background-size: cover;
        background-position: center;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    #course .courses .details {
        padding: 15px 15px 15px 15px;
    }

    #course .courses .course-code {

        text-align: center;
        position: absolute;
        right: 15px;
        bottom: 150px;
    }

    footer p.copyright {
        font-size: 10px;
    }

    footer .footer-icons {
        display: none;
    }
}

@media(max-width: 415px) {

    * {
        box-sizing: none;
    }

    body {
        width: 420px;
    }

    nav .navigation ul.active {
        right: -1;
    }

    nav {
        width: 99%;
        padding: 10px 15px;
    }

    #home h2 {
        font-size: 26px;
    }

    #home p {
        font-size: 13px;
        width: 80%;
    }

    #home a {
        font-size: 0.8rem;
    }

    #home a.green {
        padding: 10px 20px;
    }

    #home a.yellow {
        padding: 10px 20px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: black;
    }
}

.gallery-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 0;
    margin-top: 50px;
}

/* .gallery-img-container {
    flex: 0 0 25%;
} */

.gallery-img-container {
    position: relative;
    background: rgba(246, 185, 5, 0.7);
}

.gallery-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
    transition: 1s;
}
.gallery-icon h5{
    color: #fff;
}

.gallery-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1s;
}

.gallery-img-container:hover .gallery-img {
    opacity: 0.4;
}

.gallery-img-container:hover .gallery-icon {
    opacity: 5;
}